html{
	font-size: 62.5%;
	scroll-behavior: smooth;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
}

::placeholder{
	text-transform: capitalize;
}

/*login page styles*/

	.login-page-main-div{
		height: 100vh;
		background: radial-gradient(rgb(200, 100, 100), rgb(100,100, 250) 25%, rgb(200, 100, 100),rgb(100,100, 250) 75%);
		background-size: 400% 400%;
	    -webkit-animation: login-bg-anim 40s linear forwards;
	    -moz-animation: login-bg-anim 40s linear forwards;
	    animation: login-bg-anim 40s linear forwards;
		display: grid;
		grid-template-columns: 1fr;
		justify-items: center;
		align-items: center;		
		background-repeat: no-repeat;

	}	

	@-webkit-keyframes login-bg-anim {
	    0%{background-position:10% 0%}
	    100%{background-position:90% 99%}
	    /*100%{background-position:10% 0%}*/
	}
	@-moz-keyframes login-bg-anim {
	    0%{background-position:10% 0%}
	    100%{background-position:90% 99%}
	    /*100%{background-position:10% 0%}*/
	}
	@keyframes login-bg-anim { 
	    0%{background-position:10% 0%}
	    50% {
	    	background-position:90% 99%;
	    }100% {
	    	background-position: 56% 27%;
	    }
	    /*100%{background-position:10% 0%}*/
	}

	.login-form{
		background-color: rgba(0,0,0,0.2);
		/*height: 35rem;
		width: 50%;*/
		padding: 2.8rem;
		text-align: center;
		border: 0.1rem solid #F58453;
		border-radius: 1rem;
		box-shadow: 0rem 0rem 0.5rem 0.1rem #F25917;
	}

	.login-form-group {
		/*background-color: limegreen;*/
		padding: 0.5rem 0.5rem;
		border: 0.2rem ridge ghostwhite;
		border-radius: 0.4rem;
		outline: none;
	}

	.login-form-group > .login-form-input-text:focus{
		color: #f58453;
		mix-blend-mode:color-burn;
	}

	.login-form-input-text {
		background: transparent;
		outline: none;
		border: none;
		width: 20rem;
		padding: 0.5rem 0rem;
		color: ghostwhite;
		/*mix-blend-mode:color-burn;*/
	}

	.login-form-label{
		display: inline-block;
		background-color: #F58453;
		mix-blend-mode:screen;
		padding: 0.5rem;
		height: 100%;
	}

	.login-form-icons{
		font-size: 1.5rem;

	}

	.login-btn{
		width: 10rem;
		font-size: 1.3rem;
		padding: 0.5em 1em;
		margin: 0.5rem 0rem;
		background: #F58453;
		border: none;
		border-radius: 0.5rem;
		transition:  all 0.5s;
		text-transform: uppercase;
		letter-spacing: 0.2rem;
		mix-blend-mode:screen;
		font-weight: 800;
	}

	.login-btn:hover{
		background: #F25917;
		box-shadow: 0rem 0rem 0.5rem 0.1rem #F25917;
	}



/*login page styles ends*/